.venv/
.env

__pycache__/
*.pyc
*.pyo
*.pyd

.pytest_cache/
.coverage
htmlcov/

storage/**/received/*
storage/**/processed/*
storage/**/temp/*

!storage/**/received/.gitkeep
!storage/**/processed/.gitkeep
!storage/**/temp/.gitkeep